@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --s: 1;
  --o: 0;
  --x: 0;
  --y: 0;
  --w: none;
  --h: none;
  /* font-size: 62.5%; */
}
/* 
body {
  @apply text-[1.4rem];
} */
