@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --o: 0;
  --x: 0;
  --y: 0;
  --t: 0.25s;
  --header: 84px;
}

html {
  color-scheme: dark;
  background-color: #fff;
}

* {
  @apply flex-shrink-0;
}

.visible-hide {
  visibility: hidden;
}
